@import "tailwindcss";

html {
  font-family: var(--font-inter), sans-serif;
}


html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  overflow: auto;
}

[data-scroll-container] {
  min-height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}


